<h1>Calculator</h1>

<div class="container">
    <form (submit)="calc()">
        <div>
            <input [(ngModel)]="expression" name="expression" />
            <button type="submit" class="btn-primary">=</button> {{ value }}
        </div>

        <div class="numpad-container">

            <div class="numpad">
                <div *ngFor="let nr of numbers; let i = index;" (click)="onNumberSelect(i)" class="numpad__item">{{ nr }}</div>
            </div>

            <div class="operators">
                <div *ngFor="let x of operators; let k = index;" (click)="onOperatorSelect(k)" class="operators__item">{{ x }}</div>
            </div>
        </div>
    </form>

    <img class="unicornImg" src="https://media.giphy.com/media/WZmgVLMt7mp44/giphy.gif" alt="Pildiotsingu unicorn gif tulemus"/>"
</div>