.numpad-container {
    display: flex;
}
.container {
    margin-left: 20%;
    margin-right: auto;
}
.numpad {
    display: flex;
    flex-flow: row wrap;
    width: 300px;
}
.numpad__item {
    flex: 1 0 33.3333%;
    background: #90B9FF;
    border: 1px solid #5D3EFF;
    text-align: center;
    line-height: 40px;
}
.numpad__item:hover {
    cursor: pointer;
    background: #B6F0FF;
}

.numpad__item:last-child {
    flex: 3;
}

.operators__item {
    background: #DEB9FF;
    border: 1px solid #5D3EFF;
    text-align: center;
    line-height: 40px;
    width: 100px;
}
.operators__item:hover {
    background: #E794E8;
    cursor:pointer;
}
.unicornImg {
    height: 35%;
    width: 35%;
}